.bg-noon{
          background-color:brown;
}
 

.text-roar{
           color:silver;
}


.fs-0{
      font-size:60px;
}




.border-clime{

            border:10px double;
}



.bg-monster{

             background-color:gray;
}



.gogy{

       color:blue;
}


.royroy{
      background-color:#FF004D;
}

.yun{
      color:black;
}

.uoy{
      color:brown;
}

.duon{
      background-color:green;
}
